.fagearbl{
color:#2DAFF0;	

}
.fa-logobl{
color:#2DAFF0;	
	
	
}
.palet-headbl{
	color:#2DAFF0;
	
}
.store-right li.location-dd > .abl 
{
	background-color:#2DAFF0;
	
}
.store-right li.location-dd > .abl:focus{
	background-color:#2DAFF0;
}


.fa-logo-mediabl{
	color:#2DAFF0;
	
}
.carou-item1-btnbl
{
	
	background-color:#2DAFF0;
}
.carou-item1-btnbl:hover
{
	background-color:rgba(45,175,240,0.8);
}

.carou-item2-btnbl
{
	
	color:#2DAFF0;
	border:2px solid #2DAFF0;
}
.carou-item2-btnbl:hover
{
	background-color:#2DAFF0;
}
.carou-item3-btnbl
{
	
	color:#2DAFF0;
	border:2px solid #2DAFF0;
}
.carou-item3-btnbl:hover{
	background-color:#2DAFF0;
}

.h5bl{
	color:#2DAFF0;
	
}
.mskbl{
	background-color:#2DAFF0;
	
}
.orderbtnbl{
	background-color:#2DAFF0;
	
}
.orderbtnbl:hover{
	background-color:rgba(45,175,240,0.8);
	
}
.about-btnbl{
border:2px solid #2DAFF0;
color:#2DAFF0;
}
.about-btnbl:hover{
	background-color:#2DAFF0;
	
}

.btnsubsbl{
	background-color:#2DAFF0;
}
.btnsubsbl:hover{
	background-color:rgba(45,175,240,0.8);
}
.btnopbl{
	background-color:#2DAFF0;
	
}
.btnopbl:hover{
	background-color:rgba(45,175,240,0.8);
}
.assurancebl{
	background-color:#2DAFF0;
}
.faclhbl{
  color:#2DAFF0;
}
.feedbackbtnbl{
	background-color:#2DAFF0;
}
.feedbackbtnbl:hover{
	background-color:rgba(45,175,240,0.8);
}
.footerleft-containerbl > p > a{
color:#2DAFF0;	
	
}
.footerleft-containerbl > p > a:hover{
color:#2DAFF0;	
	
}

.btntcbl{
	border:2px solid #2DAFF0;
	color:#2DAFF0;
}
.btntcbl:hover{
	background-color:#2DAFF0;
}
.navbar-store .navbar-nav > .activebl > a, .navbar-store .navbar-nav > .activebl > a:hover, .navbar-store .navbar-nav > .activebl > a:focus{
color:#2DAFF0;
}
