.fagearpnk{
color:#FC5050;	

}
.fa-logopnk{
color:#FC5050;	
	
	
}
.palet-headpnk{
	color:#FC5050;
}
.store-right li.location-dd > .apnk
{
	background-color:#FC5050;
	
}
.store-right li.location-dd > .apnk:focus{
	background-color:#FC5050;
}


.fa-logo-mediapnk{
	color:#FC5050;
	
}
.carou-item1-btnpnk
{
	
	background-color:#FC5050;
}
.carou-item1-btnpnk:hover
{
	background-color:rgba(252,80,80,0.8);
}

.carou-item2-btnpnk
{
	
	color:#FC5050;
	border:2px solid #FC5050;
}
.carou-item2-btnpnk:hover
{
	background-color:#FC5050;
}
.carou-item3-btnpnk
{
	
	color:#FC5050;
	border:2px solid #FC5050;
}
.carou-item3-btnpnk:hover{
	background-color:#FC5050;
}

.h5pnk{
	color:#FC5050;
	
}
.mskpnk{
	background-color:#FC5050;
	
}
.orderbtnpnk{
	background-color:#FC5050;
	
}
.orderbtnpnk:hover{
	background-color:rgba(252,80,80,0.8);
	
}
.about-btnpnk{
border:2px solid #FC5050;
color:#FC5050;
}
.about-btnpnk:hover{
	background-color:#FC5050;
	
}

.btnsubspnk{
	background-color:#FC5050;
}
.btnsubsepnk:hover{
	background-color:rgba(252,80,80,0.8);
}
.btnoppnk{
	background-color:#FC5050;
	
}
.btnoppnk:hover{
	background-color:rgba(252,80,80,0.8);
}
.assurancepnk{
	background-color:#FC5050;
}
.faclhpnk{
	color:#FC5050;
}
.feedbackbtnpnk{
	background-color:#FC5050;
}
.feedbackbtnpnk:hover{
	background-color:rgba(252,80,80,0.8);
}
.footerleft-containerpnk > p > a{
color:#FC5050;	
	
}
.footerleft-containerpnk > p > a:hover{
color:#FC5050;	
	
}
.btntcpnk{
	border:2px solid #FC5050;
	color:#FC5050;
}
.btntcpnk:hover{
	background-color:#FC5050;
}