.fagearorng{
color:#FFA500;	

}
.fa-logoorng{
color:#FFA500;	
	
	
}
.palet-headorng{
	color:#FFA500;
}
.store-right li.location-dd > .aorng 
{
	background-color:#FFA500;
	
}
.store-right li.location-dd > .aorng:focus{
	background-color:#FFA500;
}


.fa-logo-mediaorng{
	color:#FFA500;
	
}
.carou-item1-btnorng
{
	
	background-color:#FFA500;
}
.carou-item1-btnorng:hover
{
	background-color:rgba(255,165,0,0.8);
}

.carou-item2-btnorng
{
	
	color:#FFA500;
	border:2px solid #FFA500;
}
.carou-item2-btnorng:hover
{
	background-color:#FFA500;
}
.carou-item3-btnorng
{
	
	color:#FFA500;
	border:2px solid #FFA500;
}
.carou-item3-btnorng:hover{
	background-color:#FFA500;
}

.h5orng{
	color:#FFA500;
	
}
.mskorng{
	background-color:#FFA500;
	
}
.orderbtnorng{
	background-color:#FFA500;
	
}
.orderbtnorng:hover{
	background-color:rgba(255,165,0,0.8);
	
}
.about-btnorng{
border:2px solid #FFA500;
color:#FFA500;
}
.about-btnorng:hover{
	background-color:#FFA500;
	
}

.btnsubsorng{
	background-color:#FFA500;
}
.btnsubseorng:hover{
	background-color:rgba(255,165,0,0.8);
}
.btnoporng{
	background-color:#FFA500;
	
}
.btnoporng:hover{
	background-color:rgba(255,165,0,0.8);
}
.assuranceorng{
	background-color:#FFA500;
}
.faclhorng{
	color:#FFA500;
}
.feedbackbtnorng{
	background-color:#FFA500;
}
.feedbackbtnorng:hover{
	background-color:rgba(255,165,0,0.8);
}
.footerleft-containerorng > p > a{
color:#FFA500;	
	
}
.footerleft-containerorng > p > a:hover{
color:#FFA500;	
	
}
.btntcorng{
	border:2px solid #FFA500;
	color:#FFA500;
}
.btntcorng:hover{
	background-color:#FFA500;
}