.fagearteal{
color:#E0D909;	

}
.fa-logoteal{
color:#E0D909;	
	
	
}
.palet-headteal{
	color:#E0D909;
}
.store-right li.location-dd > .ateal
{
	background-color:#E0D909;
	
}
.store-right li.location-dd > .ateal:focus{
	background-color:#E0D909;
}


.fa-logo-mediateal{
	color:#E0D909;
	
}
.carou-item1-btnteal
{
	
	background-color:#E0D909;
}
.carou-item1-btnteal:hover
{
	background-color:rgba(224,217,9,0.8);
}

.carou-item2-btnteal
{
	
	color:#E0D909;
	border:2px solid #E0D909;
}
.carou-item2-btnteal:hover
{
	background-color:#E0D909;
}
.carou-item3-btnteal
{
	
	color:#E0D909;
	border:2px solid #E0D909;
}
.carou-item3-btnteal:hover{
	background-color:#E0D909;
}

.h5teal{
	color:#E0D909;
	
}
.mskteal{
	background-color:#E0D909;
	
}
.orderbtnteal{
	background-color:#E0D909;
	
}
.orderbtnteal:hover{
	background-color:rgba(224,217,9,0.8);
	
}
.about-btnteal{
border:2px solid #E0D909;
color:#E0D909;
}
.about-btnteal:hover{
	background-color:#E0D909;
	
}

.btnsubsteal{
	background-color:#E0D909;
}
.btnsubseteal:hover{
	background-color:rgba(224,217,9,0.8);
}
.btnopteal{
	background-color:#E0D909;
	
}
.btnoteal:hover{
	background-color:rgba(224,217,9,0.8);
}
.assuranceteal{
	background-color:#E0D909;
}
.faclhteal{
	color:#E0D909;
}
.feedbackbtnteal{
	background-color:#E0D909;
}
.feedbackbtnteal:hover{
	background-color:rgba(224,217,9,0.8);
}
.footerleft-containerteal > p > a{
color:#E0D909;	
	
}
.footerleft-containerteal > p > a:hover{
color:#E0D909;	
	
}
.btntcteal{
	border:2px solid #E0D909;
	color:#E0D909;
}
.btntcteal:hover{
	background-color:#E0D909;
}