.fagearpurp{
color:#835AF1;	

}
.fa-logopurp{
color:#835AF1;	
	
	
}
.palet-headpurp{
	color:#835AF1;
	
}
.store-right li.location-dd > .apurp
{
	background-color:#835AF1;
	
}
.store-right li.location-dd > .apurp:focus{
	background-color:#835AF1;
}


.fa-logo-mediapurp{
	color:#835AF1;
	
}
.carou-item1-btnpurp
{
	
	background-color:#835AF1;
}
.carou-item1-btnpurp:hover
{
	background-color:rgba(131,90,241,0.8);
}

.carou-item2-btnpurp
{
	
	color:#835AF1;
	border:2px solid #835AF1;
}
.carou-item2-btnpurp:hover
{
	background-color:#835AF1;
}
.carou-item3-btnpurp
{
	
	color:#835AF1;
	border:2px solid #835AF1;
}
.carou-item3-btnpurp:hover{
	background-color:#835AF1;
}

.h5purp{
	color:#835AF1;
	
}
.mskpurp{
	background-color:#835AF1;
	
}
.orderbtnpurp{
	background-color:#835AF1;
	
}
.orderbtnpurp:hover{
	background-color:rgba(131,90,241,0.8);
	
}
.about-btnpurp{
border:2px solid #835AF1;
color:#835AF1;
}
.about-btnpurp:hover{
	background-color:#835AF1;
	
}

.btnsubspurp{
	background-color:#835AF1;
}
.btnsubsepurp:hover{
	background-color:rgba(131,90,241,0.8);
}
.btnoppurp{
	background-color:#835AF1;
	
}
.btnopurp:hover{
	background-color:rgba(131,90,241,0.8);
}
.assurancepurp{
	background-color:#835AF1;
}
.faclhpurp{
	color:#835AF1;
}
.feedbackbtnpurp{
	background-color:#835AF1;
}
.feedbackbtnpurp:hover{
	background-color:rgba(131,90,241,0.8);
}
.footerleft-containerpurp > p > a{
color:#835AF1;	
	
}
.footerleft-containerpurp > p > a:hover{
color:#835AF1;	
	
}
.btntcpurp{
	border:2px solid #835AF1;
	color:#835AF1;
}
.btntcpurp:hover{
	background-color:#835AF1;
}