.navbar-store .navbar-nav > .active > a, .navbar-store .navbar-nav > .active > a:hover, .navbar-store .navbar-nav > .active > a:focus{
color:#2DAFF0;
}
.navbar-nav.store-right > li > a:hover
{
color:#2DAFF0;
background-color:transparent;

}
.store-carou-indicators .active{
height:14px;
width:14px;
background-color:rgba(45,175,240,0.8);
}

.comment-carou-indicators > .active{
background-color:rgba(45,175,240,0.8);
height:15px;
width:15px;

}
