.navigation-container{
border:;
overflow:hidden;
}
.fa-logo{
font-size:26px;
color:green;
}
.navbar-brand span{
font-size:23px;
position:relative;
top:3px;
padding-left:3px;
color:#fff;
}
.navbar-brand{
margin-top:-5px;
}


.store-right > li > a{
font-size:15px;
color:#fff;
}



.navbar-nav.store-right li a:link{

background-color:transparent;
}

.store-right li a:visited{
background-color:transparent;

}

.navbar-store{
background-color:#101010;
}
#section-store{
height:;
border:;
padding-left:0px;
padding-right:0px;
overflow:hidden;
}
.store-inner{
border:;
padding-left:0px;
padding-right:0px;
position:relative;
}
.color-palet{
position:fixed;
top:100px;
left:-155px;

width:200px;
border:;
z-index:1;

}
.color-paletext{
left:0px;

}
.palet-head{
border:;
color:green;
background-color:#f8f5fa;
font-weight:900;
}

.palet-gear{
border:;
background-color:#f8f5fa;
padding-top:5px;
padding-bottom:3px;
border-top-right-radius:3px;
border-bottom-right-radius:3px;
cursor:pointer;
}
.fagear{
color:green;
font-size:26px;
border:none;
background-color:transparent;
border-radius:0px;
-webkit-animation:spingear 3s linear infinite;
}
@-webkit-keyframes spingear{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}
.color-menu{
border:;
overflow:hidden;
padding-left:0px;
padding-right:0px;
background-color:#fff;
}

.carou-item1-media{
border:;
color:#fff;

}
.carou-item1{
height:650px;
background-image:url(pic/shouse.jpg);  
background-size:100% 650px;
background-repeat:no-repeat;
border:;
text-align:center;

}
.carou-item2{
height:650px;
background-image:url(pic/bighouse.jpg);  
background-size:100% 650px;
background-repeat:no-repeat;
border:;
text-align:center;

}
.carou-item3{
height:650px;
background-image:url(pic/residen.jpg) ; 
background-size:100% 650px;
background-repeat:no-repeat;
border:;
text-align:center;
}
.carou-item1-inner{
border:;

float:center;
}
.media{
padding-top:100px;	
}
.fa-logo-media{
font-size:100px;
color:green;
}
.carou-item1-span{
font-size:74px;
}
.carou-item1-body p{
font-size:19px;
}
.social{
border:;
}
.social-list li{
display:inline-block;
}
.fatwit,
.faface{
font-size:50px;
color:#fff;
}
.fatwit:hover,
.faface:hover{
font-size:50px;
color:#6495ED;
}
.social-list li a{
text-decoration:none;
}
.social-list li a:link{
text-decoration:none;
}
.carou-item1-btn{
background-color:green;
color:#fff;
margin-top:10px;
opacity:0.8;

}
.carou-item1-btn:hover{
color:#fff;
opacity:1;
}
.carou-item2-inner{
border:;
margin-top:200px;
float:center;
}
.carou-item2-media{
border:;
color:#fff;

}
.carou-item2-body p{
font-size:19px;
}
.carou-item2-btn{
border:2px solid green;
color:green;

background-color:transparent;
}
.carou-item2-btn:hover{
background-color:green;
color:#fff;
}
.store-carou-indicators li{
background-color:rgb(192,192,192);
height:14px;
width:14px;
margin:0px;
}

.carou-item2-body h1{
font-size:44px;
}


.carou-item3-inner{
border:;
margin-top:200px;
float:center;
}
.carou-item3-media{
border:;
color:#fff;

}
.carou-item3-body p{
font-size:19px;
}
.carou-item3-btn{
border:2px solid green;
color:green;

background-color:transparent;
}
.carou-item3-btn:hover{
background-color:green;
color:#fff;
}

.carou-item3-body h1{
font-size:44px;
}
#section-product{
overflow:hidden;
padding-top:20px;
padding-bottom:20px;
}
.product-container{
border:;
padding-left:50px;
padding-right:50px;
}
.product-container h1{
color:#000;
font-size:44px;
text-align:center;
}
.product-display1{
border:;

position:relative;
-webkit-animation:pd 1s linear;
}
@-webkit-keyframes pd{
from{bottom:-500px;}
to{bottom:0px;}
}
.product-image-container{
text-decoration:none;
overflow:hidden;
border:;
position:relative;

}
.msk{
position:absolute;
top:0px;
width:100%;
height:320px;
background-color:green;
opacity:0;
transition:.2s;
}
.msk-eye{
position:absolute;
top:45%;
left:45%;
font-size:44px;
color:#fff;
transform:scale(0);
transition:.2s;
}
.product-display1 > a, .product-display2 > a, .product-display3 > a{
	
	display:block;
}
.product-image-container:hover > .msk{
opacity:0.5;
}
.product-image-container:hover > .msk-eye{
transform:scale(1);
}
.product-display1

.product-display-title1{
padding-left:0px;
padding-right:0px;
}
.product-display-title1 h5{
margin-left:-10px;
color:green;
}
.product-display-title1 h3{
color:#000;
text-align:right;
margin-top:5px;
}
.product-display-title2{
padding-right:0px;
padding-left:0px;
}
.product-display-title2 h5{
margin-left:-10px;
color:green;
}
.product-display-title2 h3{
text-align:right;
margin-top:5px;
color:#000;
}
.product-display-title3{
padding-left:0px;
padding-right:0px;
}
.product-display-title3 h5{
margin-left:-10px;
color:green;
}
.product-display-title3 h3{
text-align:right;
margin-top:5px;
color:#000;
}
.product-display2{
border:;
height:380px;
position:relative;
-webkit-animation:pd 1s linear;
}
@-webkit-keyframes pd{
from{bottom:-500px;}
to{bottom:0px;}

}
.product-display3{
border:;
height:380px;
position:relative;
-webkit-animation:pd 1s linear;
}
@-webkit-keyframes pd{
from{bottom:-500px;}
to{bottom:0px;}

}
.section-timer{
border:;
height:;
overflow:hidden;
background-color:#f8f5fa;
padding-top:50px;
padding-bottom:50px;
}
.timer-container{
border:;

}
.tm-inner{
border:;


}
#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	padding-top:10px;
  border:;
}
#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #00BF96;
	display: inline-block;
	margin-top:10px;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background: #00816A;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}
.orderbtn{
margin-top:15%;
background-color:green;
color:#fff;
transition:0.5s;

}
.orderbtn:hover{
background-color:rgba(0,128,0,0.8);
color:#fff;
}
.orderbtn:focus{
color:#fff;
outline:none;
}
#section-about{

overflow:hidden;

}
.about-container{

padding-top:50px;
padding-bottom:50px;
}
.about-inner-left{
border:;

}
.about-inner-left h1{
margin-top:50px;
}
.about-inner-right{
border:;


}
.about-inner-right p{
margin-top:50px;
font-size:17px;
}
.about-btn{
border:2px solid green;
background-color:transparent;
color:green;
transition:.5s;
}
.about-btn:hover{
background-color:green;
color:#fff;

}
.about-btn:focus{
outline:none;
}

.section-comment{
height:;
border:;
overflow:;
}
.comment-container{
border:;
overflow:hidden;
padding-right:0px;
padding-left:0px;
}
.comment-carou-inner >.item{
border:;
background:transparent;
height:380px;
}
.comment-carou-inner{
background-color:rgba(0,0,0,0.4);
height:380px;
}
.comment-carou-inner > .item {
color:#fff;
}
.comment-carou-inner > .item > h3{
margin-top:120px;
}
.comment-carou-inner > .item > p{
font-size:17px;
}
.comment-carou-mask{
background-image:url(pic/residen.jpg);
background-size:100% 100%;
background-repeat:no-repeat;
background-attachment:fixed;
}
.comment-carou-indicators li{
height:15px;
width:15px;
background-color:rgb(192,192,192);
margin:0px;
}
.section-email{
height:;
padding-top:50px;
padding-bottom:50px;
overflow:hidden;
background-color:#323A42;
}
.email-container{

border:;
background-color:#323A42;
color:#fff;
}
.email-container p{
font-size:17px;
}
.email-container h1{

}
.email-frm-grp{
background-color:#fff;
overflow:hidden;


padding-right:0px;
padding-left:15px;
border-radius:5px;

}
#em{
border-radius:0px;
width:100%;
box-shadow:none;
padding-top:8px;
height:inherit;


border:none;
font-size:17px;

}
.fgcl9,
.fgcl3{
padding-right:0px;
padding-left:0px;
}

.btnsubs{
border:none;

width:100%;
font-size:17px;
background-color:green;
color:#fff;
transition:.5s;
}
.btnsubs:hover{
background-color:rgba(0,128,0,0.8);
color:#fff;
}
#section-order{
height:;
border:;
overflow:hidden;
background-color:#f8f5fa;
padding-top:50px;
padding-bottom:20px;
}
.order-container{
border:;

}
#storesel1{
width:22%;
}
.order-table{
width:85%;
margin:0 auto;
}
.order-table > tr > th:first-child{
width:380px;
}
.order-table > tr > th:nth-child(2){
width:380px;
}
.order-table > tr > th:nth-child(3){
width:380px;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
padding:0px;
padding-top:10px;
padding-bottom:10px;
}
.order-secnd-container{
border:;
padding-top:20px;
}

.carddt-container{
border:;
}
.card-form-grp{

background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;
margin-bottom:20px;
}
.form-group.card-form-grp{
margin-bottom:20px;
}
.card-form-grp #num{
width:100%;
border:none;
border-radius:0px;
font-size:17px;
box-shadow:none;
}
.code-form-grp{
background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
margin-left:30px;
overflow:hidden;
margin-bottom:20px;
}
.form-group.code-form-grp{
margin-bottom:20px;
}
.code-form-grp > #code{
border:none;
border-radius:0px;
box-shadow:none;
}
.month-form-grp{

background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;
margin-bottom:20px;
}
.form-group.month-form-grp{
margin-bottom:20px;
}
.month-form-grp > #month{
width:100%;
border:none;
border-radius:0px;
font-size:17px;
box-shadow:none;
}
.year-form-grp{

background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;
margin-left:30px;
margin-bottom:20px;
}
.form-group.year-form-grp{
margin-bottom:20px;
}
.year-form-grp > #year{
width:100%;
border:none;
border-radius:0px;
font-size:17px;
box-shadow:none;
}
.informationdt-container{
border:;
}
.fname-form-grp{

background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;

margin-bottom:20px;
margin-left:30px;

}
.form-group.fname-form-grp{
margin-bottom:20px;
}
.fname-form-grp > #fname{
width:100%;
border:none;
border-radius:0px;
font-size:17px;
box-shadow:none;
}
.lname-form-grp{

background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;
margin-left:20px;
margin-bottom:20px;

}
.form-group.lname-form-grp{
margin-bottom:20px;
margin-left:40px;
}
.lname-form-grp > #lname{
width:100%;
border:none;
border-radius:0px;
font-size:17px;
box-shadow:none;
}
.eml-form-grp{

background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;

}
.form-group.eml-form-grp{
margin-bottom:20px;
}
.eml-form-grp > #eml{
width:100%;
border:none;
border-radius:0px;
font-size:17px;
box-shadow:none;
}
.coupondt-container{
border:;
}

.coupon-form-grp{
width:100%;
background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;


}
.form-group.coupon-form-grp{
margin-bottom:20px;
}
.coupon-form-grp > #coupon{
width:100%;
border:none;
border-radius:0px;
font-size:17px;

}
.delivery-address{
border:;
}

.stad-form-grp{
width:100%;
background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;


}
.form-group.stad-form-grp{
margin-bottom:20px;
}
.stad-form-grp > #stad{
width:100%;
border:none;
border-radius:0px;
font-size:17px;

}

.cityad-form-grp{
width:100%;
background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;


}
.form-group.cityad-form-grp{
margin-bottom:20px;
}
.cityad-form-grp > #cityad{
width:100%;
border:none;
border-radius:0px;
font-size:17px;

}

.country-form-grp{
width:100%;
background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;


}
.form-group.country-form-grp{
margin-bottom:20px;
}
.country-form-grp > #country{
width:100%;
border:none;
border-radius:0px;
font-size:17px;

}


.postcd-form-grp{
width:100%;
background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;


}
.form-group.postcd-form-grp{
margin-bottom:20px;
}
.postcd-form-grp > #postcd{
width:100%;
border:none;
border-radius:0px;
font-size:17px;

}
.order-sumary{
border:;
padding-top:10px;
padding-bottom:10px;
}
.ordersum-table{
margin-top:-20px;

}

.ordersum-table > tbody > tr > td:first-child{
width:94%;
}
.btnop{
background-color:green;
color:#fff;
transition:.5s;
}
.btnop:hover{
background-color:rgba(0,128,0,0.8);
color:#fff;
}
.btnop:focus{
color:#fff;
background-color:rgba(0,128,0,0.8);
}
.section-assurance{
border:;
height:;
padding-top:80px;
padding-bottom:80px;
overflow:hidden;
background-color:green;
}
.assurance-container{
border:;

}
.quality-guaranted, .home-delivery, .secure-payment{
	margin-bottom:50px;
}
.quality-guaranted{
border:;

color:#fff;

}
.faquality{
font-size:60px;
color:#fff;

}
.home-delivery{
border:;

color:#fff;

}
.fadelivery{
font-size:60px;
color:#fff;

}
.secure-payment{
border:;

color:#fff;

}
.fasecure{
font-size:60px;
color:#fff;

}
#section-contact{
height:;
border:;
overflow:hidden;
background-color:#f8f5fa;
}
.contact-container{
border:;
padding-bottom:30px;
}
.contact-inner-left{
border:;

padding-top:190px;
padding-left:10px;
padding-right:50px;
}
.faclh{
font-size:30px;
color:green;
}
.contact-left-head > span
{
 font-size:24px;
}
.cnt-subinner{
border:;
padding-left:40px;
padding-top:10px;
}
.cnt-subinner p{
line-height:26px;
}
.contact-inner-right{
border:;

overflow:hidden;
}
.contactfrm-container{
border:;
overflow:hidden;
}
.contactfrm-head{
padding-top:50px;
}

.cntname-group{
width:100%;
height:40px;
background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;

}
#cntname{
width:100%;
height:40px;
border:none;
border-radius:0px;
font-size:17px;
}
.cntemail-group{
width:100%;
height:40px;
background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;

}
#cntemail{
width:100%;
height:40px;
border:none;
border-radius:0px;
font-size:17px;
}
.cntmessage-group{
width:100%;
height:200px;
background-color:#fff;
border:1px solid rgb(192,192,192);
border-radius:4px;
overflow:hidden;

}
#cntmessage{
width:100%;
height:200px;
border:none;
border-radius:0px;
font-size:17px;
}
.feedbackbtn{
background-color:green;
color:#fff;
transition:.5s;
}
.feedbackbtn:hover{
background-color:rgba(0,128,0,0.8);
color:#fff;

}
footer{

background-color:#323A42;

}
.footer-container{
border:;

}
.footer-left{
border:;
height:120px;
}
.footerleft-container{
border:;
color:#fff;
padding-left:100px;
padding-top:35px;
}
.footerleft-container p{
font-size:17px;
}
.footerleft-container > p > a{
text-decoration:none;
color:green
}
.footerleft-container > p > a:hover{

color:green
}
.footer-right{
border:;
height:120px;
}
.footerright-container{
border:;
text-align:right;
padding-right:50px;
padding-top:40px;
}

.btntc{
background-color:transparent;
border:2px solid green;
color:green;
transition:.5s;
text-decoration:none;
}
.btntc:focus{
color:#fff;
background-color:;
}
.btntc:hover{
background-color:green;
color:#fff;

}
.store-right li.location-dd > .i-dd:focus{
background-color:green;

}
.store-right li.location-dd > .i-dd{
background-color:green;

}
.store-right li.location-dd > .i-dd:hover{
color:#fff;

}

.store-right li.location-dd > .locationlist-menu > li a:hover{
background-color:#f8f5fa;
}
.fafooter{
font-size:19px;
color:#fff;
}
.footerleft-container > p > span{
line-height:5px;
}
.palet-innertop{
border:;
overflow:hidden;
}
.palet-innerbottom{
border:;
overflow:hidden;

}
.paletsec-top{
overflow:hidden;
padding:5px;
}
.grn-cnt{
padding-right:3px;
padding-left:3px;

border:;


}
.blu-cnt{
padding-right:3px;
padding-left:3px;

border:;

}
.orng-cnt{
padding-right:3px;
padding-left:3px;
border:;
}
.clr-grn{
background-color:green;
border-radius:4px;
height:50px;
cursor:pointer;
}
.clr-blu{
background-color:#2DAFF0;
border-radius:4px;
height:50px;
cursor:pointer;
}
.clr-orng{
background-color:#FFA500;
border-radius:4px;
height:50px;
cursor:pointer;
}
.paletsec-btm{
overflow:hidden;
padding:5px;
}


.pnk-cnt{
padding-right:3px;
padding-left:3px;

}
.purp-cnt{
padding-right:3px;
padding-left:3px;

}
.teal-cnt{
padding-right:3px;
padding-left:3px;

}

.clr-pnk{
background-color:#FC5050;;
border-radius:4px;
height:50px;
cursor:pointer;
}
.clr-purp{
background-color:#835AF1;
border-radius:4px;
height:50px;
cursor:pointer;
}
.clr-teal{
background-color:#E0D909;
border-radius:4px;
height:50px;
cursor:pointer;
}
.menubtn{
background-color:green;
color:#fff;
outline:none;
}
.menubtn > .icon-bar{
background-color:#fff;
}
.menubtn:focus
{
outline:none;
}
.color-menu li{
display:inline-block;
}
.palet-innertop{
background-color:#f8f5fa;
}
.palet-innertop li{
display:inline-block;
}
.palet-innerbottom{
margin-top:-10px;
}
.palet-gear{
text-align:right;
margin-left:-5px;
padding-right:10px;
}
